* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: #333;
  padding-top: 80px;
}

.header {
  padding: 1rem 5rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: black;
}

.header .logo {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
}

.header .logo:hover {
  color: #0cdf05;
  transition: color 0.3s;
}

.header .menu {
  display: flex;
  gap: 50px;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
}

.header .menu .dropdown-menu {
  background: rgb(0, 0, 0);
}

.header .menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.header .menu a:hover {
  color: #0cdf05;
  transition: color 0.3s;
}

.header .menu-2 {
  display: flex;
  gap: 50px;
  flex-grow: 1;
  margin: 0 -100px;
}

.header .menu-2 .dropdown-menu {
  background: rgb(0, 0, 0);
}

.header .menu-2 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.header .menu-2 a:hover {
  color: #0cdf05;
  transition: color 0.3s;
}

.search-box {
  position: flex;
  top: 16px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 30px;
  background: #cacaca;
  width: 230px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header .search-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.37);
}

.header .search-input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #555;
  margin-left: 10px;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  transition: background-color 0.3s ease, padding 0.3s;
}

.header .search-input::placeholder {
  color: #999;
}

.header .search-input:focus {
  background-color: #cacaca;
  padding-left: 5px;
  border-radius: 8px;
}

.header .search-icon {
  color: #888;
  font-size: 24px;
  transition: color 0.3s ease;
}

.header .search-box:hover .search-icon {
  color: #0cdf05;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.phone-specs {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  background-color: black;
  border-radius: 10px;
}

.tittle h1 {
  font-size: 2em;
  color: white;
  padding: 10px;
}

.rating {
  text-align: right;
  padding: 10px;
  color: white;
}

.phone-details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.image img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.specs ul {
  list-style: none;
  margin-left: 30px;
}

.specs ul li {
  margin-bottom: 10px;
}

.key-specs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.spec-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.spec-item h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #0cdf05;
}

.spec-item p {
  font-size: 1em;
  color: #666;
  margin-bottom: 0;
}

.phone-camera-specs {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.phone-body-specs {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f1f1f1;
  color: #333;
}
.more-info {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: -20px auto;
  padding: 20px;
}

.prices {
  background-color: #fff;
  text-align: center;
  flex-shrink: 1;
  width: 50%;
  border-radius: 10px;
}

.review h6 {
  margin-left: 19px;
}

h6 {
  font-family: monospace;
  font-size: 17px;
  background-color: #0cdf05;
  border-radius: 5px;
  color: #000;
  padding: 10px;
  text-align: center;
}
.prices-container {
  margin-top: 20px;
}

.prices-container p {
  font-size: 13px;
  font-family: sans-serif;
  color: black;
}

.prices-container .link-prices {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 14px;
}

.prices-container .link-prices:hover {
  color: #0cdf05;
}

.one-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 80px;
}

.one-prices:hover img {
  width: 80px;
  transition: 0.5s ease-out;
}

.one-prices img {
  padding: 10px;
  justify-content: center;
  width: 75px;
}

.review {
  border-radius: 10px;
}

.review-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin-left: 19px;
  padding: 10px;
  margin-top: -7px;
  height: 370px;
}

.review-container img {
  max-width: 180px;
  max-height: 230px;
  margin-right: 20px;
  margin-top: 35px;
}

.review-container p {
  padding: 30px 0;
}

@media (max-width: 768px) {
  .phone-details {
    flex-direction: column;
    align-items: center;
  }

  .specs ul {
    margin-left: 0;
  }

  .key-specs {
    flex-direction: column;
    align-items: center;
  }
}
